/* All GLOBAL VARIABLE HERE */

// font family
$font-family: 'Roboto', sans-serif;

// all color
$white: #fff;
$primary-color: #FF992E;
$primary-color-2: #F06A21;
$primary-color-3: #ECF4DE; 

$text-color: #2E2E2E;
$secondary-color: #5A5A5A;
$secondary-color-2: #787878;
$span-color: #4A4A4A;

// font-size

// before color
$before: #DCDCDC;